@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(45, 50, 50);
  --bg-dark: rgb(26 29 29);
  --color-primary: rgb(255, 255, 255);
  --brightviolet: #7f59ff;
  --midviolet: #9088ff;
}